.post_container{
    
    width: 600px;
    margin-top: 20px;
    border-radius: 2px;

}
.post_container{

}
.post_header{
    display: flex;
    height: 65px ;

}
.post_header_img{
    margin: 15px;

}
.post_header_text{

    margin-top: 20px;
    font-weight: 600;
    font-size: 15px;

}
.post_description{
    display: flex;
    margin-left: 15px;
}
.post_image{
    margin: 10px 0px;
}
.post_likecount_container{
    display: flex;
    height: 3 0px;
    padding: 0px 10px;
    border-bottom: 1px solid #CDD0D4;

}
.post_like{
    

}
.post_likecount{
    margin-left: 5px;
}
.post_img{
    height: 20px;
}
.post_likeshare{
    display: flex;
    height: 40px;
    margin-left: 100px;
    margin-top: 10px;

}
.post_tab{
    display: flex;
    width: 200px;

}
.post_tabfirst{

}
.post_tabimg{
    width: 30px;

}
.post_tabtext{
    margin: 5px;

}